DO_TF_ENV=do-prod
DO_REGION=nyc1
DO_SIZE=s-1vcpu-2gb
SSH_ALLOWED_CIDRS='["0.0.0.0/0"]'
REPO_URL=https://github.com/<org>/<repo>.git
DEPLOY_REF=openclaw-deploy
AUTO_SYNC_DEPLOY_REPO=true
OPENCLAW_PORT=18789
